[flake8]
ignore = W503, W504, E203, B008
per-file-ignores =
    tests/: S101, F401, F811, B011


# TODO: Change to 88 later for black
max-line-length = 120
exclude =
  quickstart
  flox
  flox_examples
  flox_tests


