[build-system]
requires = ["setuptools>=64.0", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "flox"
version = "0.1.0"

description = "FLoX is a flexible, easy-to-deploy framework for serverless federated learning, with support for hierarchical and asynchronous federated learning."
readme = "README.md"

license = { file = "LICENSE" }
keywords = ["federated learning", "machine learning", "serverless"]

authors = [
    { name = "Nathaniel Hudson", email = "hudsonn@uchicago.edu" },
    { name = "Valerie Hayot-Sasson", email = "valeriehayot@gmail.com" }
]

maintainers = [
    { name = "Nathaniel Hudson", email = "hudsonn@uchicago.edu" },
    { name = "Valerie Hayot-Sasson", email = "valeriehayot@gmail.com" },
]

requires-python = ">=3.8"
dependencies = [
    "globus-compute-sdk",
    "mkdocs",
    "mkdocs-material",
    "mkdocstrings[python]",
    "torch",
    "pandas",
    #    "pygraphviz",
    "tqdm",
    "scipy",
]

[project.optional-dependencies]
dev = ["black", "coverage", "jupyterlab", "matplotlib", "numpy", "pytest", "seaborn", "tensorboard", "torchvision", "matplotlib-stubs", "pandas-stubs", "networkx-stubs"]
monitoring = ["tensorboard"]
proxystore = ["proxystore"]
all = ["flox[dev,monitoring,proxystore]"]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]


[tool.setuptools.packages.find]
include = ["flox*"]
namespaces = false
