[data-md-color-scheme="light-flox"] {
    /*--md-primary-fg-color: #EE0F0F;*/
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #90030C;
    --md-primary-fg-color: #f8f9fb;

    --md-primary-bg-color: #000;

    .md-header--shadow {
        box-shadow: none !important;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.125);
    }
}

[data-md-color-scheme="dark-flox"] {
    /*--md-primary-fg-color: #EE0F0F;*/
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #000;
    --md-primary-fg-color: #232323;

    --md-default-bg-color: #000000;
    --md-default-fg-color: #fff;
    --md-typeset-color: white;

    --md-primary-bg-color: #fff;

    .md-header--shadow {
        box-shadow: none !important;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(1.0, 1.0, 1.0, 0.125);
    }
}